name: Build & Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build zip
        run: |
          zip -r cscart_new.zip app design -x '.github/*'

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          files: cscart_new.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
